monolog:
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists
        - daemon

    handlers:
        daemon_buffered:
            type: buffer
            handler: rotating_file
            level: info
            channels: ["daemon"]

        rotating_file:
            type: rotating_file
            path: "%kernel.project_dir%/daemon-log/%env(LOG_PREFIX)%.log"
            level: info
            max_files: 10
            formatter: monolog.formatter.line

when@dev:
    monolog:
        handlers:
            main:
                type: rotating_file
                path: '%kernel.logs_dir%/%kernel.environment%.error.log'
                level: debug
                max_files: 10
                formatter: monolog.formatter.line
                include_stacktraces: true 
                buffer_size: 1
            
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug

when@prod:
    monolog:
        handlers:
            main:
                type: rotating_file
                path: '%kernel.logs_dir%/%kernel.environment%.error.log'
                level: debug
                max_files: 10
                formatter: monolog.formatter.line
                include_stacktraces: true 
                buffer_size: 1
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine"]
            deprecation:
                type: stream
                channels: [deprecation]
                path: php://stderr
                formatter: monolog.formatter.json
