nelmio_api_doc:
    documentation:
        info:
            title: Titanbot daemon API
            description: Titanbot daemon module
            version: 1.0.0
        components:
            securitySchemes:
                ApiKeyAuth:
                    type: apiKey
                    in: header
                    name: X-API-KEY
        security:
            - ApiKeyAuth: []

    models:
        use_jms: false
        names: true
