security:
    providers:
        app_user_provider:
            id: Titanbot\Daemon\Infrastructure\Security\UserProvider
        
    firewalls:
        public:
            pattern: ^/daemon/doc.json$
            security: false
            stateless: true 

        main:
            pattern: ^/
            lazy: true
            stateless: true
            custom_authenticator: Titanbot\Daemon\Infrastructure\Security\ApiKeyAuthenticator

    access_control:
        - { path: ^/daemon/tokens, roles: [ ROLE_ADMIN ] }
        - { path: ^/daemon/db, roles: [ ROLE_ADMIN, ROLE_DAEMON ], methods: [ GET ] }
        - { path: ^/daemon/devices$, roles: [ ROLE_ADMIN, ROLE_DAEMON ], methods: [ GET ] }
        - { path: '^/daemon/devices/[^/]+/ssh$', roles: [ ROLE_ADMIN, ROLE_DAEMON ], methods: [ GET ] }
        - { path: ^/daemon/devices, roles: [ ROLE_ADMIN ] }
        - { path: ^/daemon/accounts$, roles: [ ROLE_ADMIN, ROLE_DAEMON ], methods: [ GET ] }
        - { path: ^/daemon/accounts, roles: [ ROLE_ADMIN ] }
        - { path: ^/daemon/legions/, roles: [ ROLE_ADMIN, ROLE_DAEMON ], methods: [ GET ] }
        - { path: ^/daemon/legions, roles: [ ROLE_ADMIN ] }
        - { path: ^/daemon/logs, roles: [ ROLE_DAEMON ], methods: [ POST ] }
        - { path: ^/daemon/logs, roles: [ ROLE_ADMIN ], methods: [ GET, DELETE ] }
        - { path: ^/daemon/empire-dates-next, roles: [ ROLE_ADMIN, ROLE_DAEMON ], methods: [ GET ] }
        - { path: ^/daemon/empire-dates, roles: [ ROLE_ADMIN ] }
        - { path: .*, roles: [ ROLE_ADMIN ] }
