security:
    providers:
        app_user_provider:
            id: Titanbot\Daemon\Infrastructure\Security\UserProvider
        
    firewalls:
        public:
            pattern: ^/api/doc.json$
            security: false
            stateless: true 

        main:
            pattern: ^/
            lazy: true
            stateless: true
            custom_authenticator: Titanbot\Daemon\Infrastructure\Security\ApiKeyAuthenticator

    access_control:
        - { path: ^/daemon/tokens, roles: [ ROLE_ADMIN ] }
        - { path: ^/daemon-db, roles: [ ROLE_ADMIN, ROLE_DAEMON ], methods: [ GET ] }
        - { path: ^/devices$, roles: [ ROLE_ADMIN, ROLE_DAEMON ], methods: [ GET ] }
        - { path: ^/devices, roles: [ ROLE_ADMIN ] }
        - { path: ^/accounts$, roles: [ ROLE_ADMIN, ROLE_DAEMON ], methods: [ GET ] }
        - { path: ^/accounts, roles: [ ROLE_ADMIN ] }
        - { path: ^/legions/, roles: [ ROLE_ADMIN, ROLE_DAEMON ], methods: [ GET ] }
        - { path: ^/legions, roles: [ ROLE_ADMIN ] }
        - { path: ^/logs, roles: [ ROLE_DAEMON ], methods: [ POST ] }
        - { path: ^/logs, roles: [ ROLE_ADMIN ], methods: [ GET, DELETE ] }
        - { path: ^/empire-dates-next, roles: [ ROLE_ADMIN, ROLE_DAEMON ], methods: [ GET ] }
        - { path: ^/empire-dates, roles: [ ROLE_ADMIN ] }
        - { path: .*, roles: [ ROLE_ADMIN ] }
