.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
var/
vendor/
docker/*
!docker/config/*
!docker/k8s/nginx/default.conf
compose.yaml

.idea/
.vscode/
*.iml
*.swp

tests/
coverage/
phpstan.*
phpunit.*
psalm.*
.phpunit.cache/

.git/
.gitkeep
.gitignore

README.MD
