/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/db/

phpstan.neon

/phpunit.xml
/.phpunit.cache/

#Vim
*.swp

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> deptrac/deptrac ###
/.deptrac.cache
###< deptrac/deptrac ###
